.info{
    background-color: #2C3E50;
    color: white;
    padding: 70px 0;
}
ul {
    list-style: none;
}
ul li{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s;
}
ul li:hover{
    background-color: #1ABC9C;
    border-color: #1ABC9C;
}
.copyright{
    background-color: #1A252F;
}