<section class=" about">
  <div class="container">
    <div class="title text-center text-white position-relative">
      <h2 class="display-5 fw-bold my-3 text-uppercase">about component</h2>
      <div class="icon mt-3">
        <i class="fa-solid fa-star"></i>
      </div>
    </div>
    <div class="row text-white mt-5 px-5">
      <div class="col-md-6">
        <p class="ps-md-5">
          Freelancer is a free bootstrap theme created by Route. The download
          includes the complete source files including HTML, CSS, and JavaScript
          as well as optional SASS stylesheets for easy customization.
        </p>
      </div>
      <div class="col-md-6">
        <p class="pe-md-5">
          Freelancer is a free bootstrap theme created by Route. The download
          includes the complete source files including HTML, CSS, and JavaScript
          as well as optional SASS stylesheets for easy customization.
        </p>
      </div>
    </div>
  </div>
</section>
