<section class="home">
    <div class="container">
        <div class="main d-flex justify-content-center align-items-center flex-column py-4">
            <img src="/images/avataaars.svg" alt="userImg" class="w-25">
            <div class="title text-center text-white position-relative">
                <h2 class="display-5 fw-bold my-3 text-uppercase">Start Framework</h2>
                <div class="icon">
                    <i class="fa-solid fa-star"></i>
                </div>
            </div>
            <span class="text-white mt-4">Graphic Artist - Web Designer - Illustrator</span>
        </div>
    </div>
</section>
